.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

body{
    background-color: #354136;
    margin: 0px;
    color: white;
}

header{
    border-bottom: solid 2px #77fa84;
    background: #254228;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    background: #3d6541;
    margin: 50px;
    border: solid 2px #79ff87;
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 35px;
    padding: 20px;
    font-size: 20px;
}

button{
    background: #254228;
    color: white;
    margin: 7.5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    padding: 12.5px;
    font-size: 15px;
}

button:hover{
    font-size: 16px;
}

.botao{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.parte-baixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
