.passo{
    display: none;
}

.passo.ativo{
    display: block;
}


body{
    background-color: #354136;
    margin: 0px;
    color: white;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 1px 1px 3px black;
}

header{
    border: solid 0px;
    border-bottom: solid 7px #77fa84;
    background: #254228;
    padding: 18.75px;
    font-size: 30px;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    text-shadow: 7px 7px 6px black;
    box-shadow: 1px 1px 10px black;
    letter-spacing: 35px;
    border-style: double;
}

section{
    background: #3d6541;
    margin: 42.5px;
    border: solid 2px #77fa84;
    border-left: solid 4px #77fa84;
    border-right: solid 4px #77fa84;
    border-top-left-radius: 40px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 40px;
    border-style: double;
    padding: 20px;
    font-size: 20px;
    box-shadow: inset 1px 1px 10px 0px black;
}

button{
    background: #254228;
    color: white;
    margin: 7.5px;
    margin-left: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border: 0px;
    border-top: solid 1px #77fa84;
    border-left: solid 1px #77fa84;
    padding: 12.5px;
    font-size: 16px;
    box-shadow: 4px 3px 4px 0px black;
    text-shadow: 1px 1px 3px black;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
}

button:hover{
    padding: 13px;
    background: #29492c;
    border-top: solid 2px #77fa84;
    border-left: solid 2px #77fa84;
    border-bottom: solid 1px #77fa84;
    border-right: solid 1px #77fa84;
    box-shadow: 4px 4px 10px 3px black;
}

img{
    max-width: 40%;
    margin: 1%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 45px;
    border-left: solid 2px #77fa84;
    border-top: solid 2px #77fa84;
    box-shadow: 3px 3px 10px 0px black;
}

.botao{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-left: solid 2px #254228;
}

.parte-baixo{
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}
