.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

body{
    background-color: #3b553e;
    color: white;
}
.botao{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
